body{
      background: black;
      text: white;
      }
p {
      text: white;
      }
h1{
       text: white;
      }
h2{
      text-align: center
      text: white;
      }
h3{
      text: white;
      }
ul{
      text: white;
      }
