@charset "utf-8";
h1 {
    text-align: center;
    color: white;
    }
h2 {
    color: white;
    text-align: center;
    }
p {
   color: white;
   }
h3 {
   color: white;
   }
ul {
      color: white;
}
body {
       background: black; 
}
hr {
    text-align: center;
}
