#charset "utf-8";
body {
       background: black; 
      }
h1 {
    text-align: center;
    color: white;
    }
h2 {
    color: white;
    }
p {
   color: white;
   }
   h3 {
   color: white;
   }
ul {
      color: white;
 }
