@charset"utf-8";
body {
       background: black; 
      }
h1 {
      color: white;
      text-align: center;
      }
p {
      color: white;
       }
h2 {
       color: white;
       }
hr {
       text-align: center;
       }
